@keyframes grad {
  0% {
    background-color: #cceecc;
  }
  33% {
    background-color: #ccccee
  }
  66% {
    background-color: #eecccc;
  }
  100% {
    background-color: #cceecc;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0.1);
  }
}