#background {
  font-size: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  perspective: 500px;
}

#wallpaper {
  width: 300%;
  height: 300%;
  left: -100%;
  top: -100%;
  position: fixed;
  display: inline-block;
  background-image: url(/image/pattern.jpg);
  background-size: 1024px;
}

#tab {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  vertical-align: top;
  position: fixed;
  top: 10%;
  left: -10%;
}

#gallery {
  min-height: 80%;
  max-width: 800px;
  width: 80%;
  position: absolute;
  top: 5%;
  left: calc(50% - 400px);
  border-radius: 1px;
  padding: 40px;
  display: inline-block;
  font-size: 14px;
  background-color: #ffffff;
  overflow: scroll;
}

#gallery:hover {
  filter: none;
}

.tab-label {
  cursor: pointer;
  padding: 15px 30px;
  padding-left: 10%;
  border-radius: 1px;
  transition: transform 0.3s ease-in;
  transform: translateZ(0px);
  font-weight: bolder;
}

.tab-label:hover {
  transform: translateZ(10px);
}

.tab-enabled {
  background-color: #293856;
  color: #f1f3f5;
}

.tab-disabled {
  background-color: #f1f3f580;
}

.tab-disabled:hover {
  animation: grad;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#foot {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  height: 20px;
  font-size: 10px;
  color: #888;
}

.date {
  color: #888;
  width: 100%;
  font-size: 10px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 5px;
  margin: 5px;
}